<!DOCTYPE html>
<% include header %>
<div>
  <div class="master_left_bar">
  </div>
  <div class="master_middle">
    <h1>here Game Master</h1>
  </div>
  <div class="master_right_bar">
  </div>
</div>
<% include footer %>
