<!DOCTYPE html>
    <html>
      <head>
        <% if (locals.title) { %>
        <title><%= title %></title>
        <% } %>
        <link href="/node_modules/twitter-bootstrap-3.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/node_modules/twitter-bootstrap-3.0.0/dist/js/bootstrap.min.js" rel="javascript">
       <style type="text/css">
         body { padding-top: 70px; }
       </style>
     </head>
   <% var USER = "aginika"%>
     <body>
