.login_panel{
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width:700px;
    height:400px;
    margin-top:-200px;
    margin-left:-350px;
}

.master_left_bar{
    width: 15%;
    height: 100%;
    background: #F7F7F7;
    position: fixed;
    top: 50px;
}

.master_middle{
    width: 65%;
    height: 100%;
    background: #00F700;
    position: fixed;
    top: 50px;
    left: 15%;
    padding: 0px;
    margin: 0px;
}

.master_right_bar{
    width: 20%;
    height: 100%;
    background: #FFF7F7;
    position: fixed;
    top: 50px;
    left: 80%;
}

.guest_left_bar{
    width: 15%;
    height: 100%;
    background: #F7F7F7;
    position: fixed;
    top: 50px;
}

.guest_middle{
    width: 65%;
    height: 100%;
    background: #00F7EE;
    position: fixed;
    top: 50px;
    left: 15%;
    padding: 0px;
    margin: 0px;
}

.guest_right_bar{
    width: 20%;
    height: 100%;
    background: #FFE7E7;
    position: fixed;
    top: 50px;
    left: 80%;
}

.image-scroll{
    height: 100px;
}

#makeMeScrollable {
  width:95%;
  position: relative;
}

#makeMeScrollable div.scrollableArea img {
  position: relative;
  float: left;
  margin: 0;
  padding: 5px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-radius: 30px;
}

.game-display{
    width: 100%;
    height: 65%;
    background: #CCCCEE;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.ui-display{
    width: 100%;
    height: 35%;
    background: #C2E288;
    position: relative;
}

#canvas-size{
    width: 80%;
    height: 90%;
    margin: 20px;
    background: #FFFFFF;
}

.button-area{
    width: 30%;
    height: 100%;
    Background: #008822;
    float: left;
}

.chat-area{
    width: 70%;
    height: 100%;
    Background: #002288;
    position: relative;
    left: 30%;
}